@tailwind base;
@tailwind components;
@tailwind utilities;

/* 기본 폰트 설정 */
body {
  font-family: "Noto Sans KR", serif;
}

/* 영어만 적용되는 폰트 설정 */
.english-text {
  font-family: "Montserrat", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: inherit;
}

::-webkit-scrollbar {
  display: none;
}
